// @import "https://fonts.googleapis.com/css?family=Roboto";
body {
    font-family: "Roboto", sans-serif;
}

.wraper {
    .bg-light {
        background-color: #eaeaea !important;
    }
    li {
        list-style: none;
    }
    a {
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
    }
    .manar-top-bar {
        border-top: 4px solid #01a6a0;
        padding: 7px;
        height: 50px;
        .manar-logo {
            position: relative;
        }
        .manar-link>li {
            margin-right: 7px;
            &::last-child::after {
                contain: "&nbsp;";
            }
            &:not(:last-child)::after {
                content: '|';
                font-size: 14px;
                color: #0a1e75;
            }
            >a {
                color: #0a1e75;
                padding: 0 11px;
                > {
                    i {
                        font-size: 80%;
                    }
                    span {
                        margin-left: 5px;
                        text-transform: uppercase;
                        font-weight: 600;
                        font-size: 85%;
                    }
                }
            }
        }
        .manar-top-logo-inner {
            position: relative;
            z-index: 999;
            margin-right: 115px;
            img {
                box-shadow: 0px 0px 20px 1px rgba(48, 48, 46, 0.2);
                margin-top: -10px;
            }
        }
        .mana-searchbox {
            input {
                width: 207px;
                height: 30px;
                display: inline-block;
                box-shadow: none;
                border: 1px solid #bebebd;
                color: #333;
                &::-webkit-input-placeholder {
                    color: #333;
                }
            }
            button {
                background: none;
                border: none;
                outline: none;
                font-size: 18px;
                color: #21398b;
            }
            .sm-height {
                height: 32px;
                line-height: 5px;
            }
        }
    }
    .navbar {
        background-color: #eaeaea;
        height: 50px;
    }
    .carousel {
        background: transparent !important;
        opacity: 1;
        text-shadow: none;
        top: 2%;
        cursor: default;
        span {
            background-color: rgba(0, 0, 0, 0.2);
            font-size: 8px;
            width: 30px;
            height: 50px;
            line-height: 80px;
            cursor: pointer;
            color: #e8e8e8;
            &:hover {
                background-color: rgba(0, 0, 0, 0.4);
            }
        }
        &:hover {
            background: transparent !important;
        }
    }
    .carousel-control-prev {
        justify-content: flex-start;
    }
    .carousel-control-next {
        justify-content: flex-end;
    }
    .carousel-indicators li {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        margin-left: 15px;
        border: 1px solid #ccc;
    }
    .manar-link>li {
        margin-right: 7px;
        &::last-child::after {
            contain: "&nbsp;";
        }
        &:not(:last-child)::after {
            content: '|';
            font-size: 14px;
            color: #0a1e75;
        }
        >a {
            color: #0a1e75;
            padding: 0 11px;
            > {
                i {
                    font-size: 80%;
                }
                span {
                    margin-left: 5px;
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: 85%;
                }
            }
        }
    }
    .manar-top-logo-inner {
        background-image: url(../images/logo.png);
        width: 103px;
        height: 140px;
        box-shadow: 1px 1px 4px 0px #c7c7c7;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        top: -7px;
        z-index: 5;
        img {
            transition: all 0.3s ease;
        }
        a:hover img {
            transform: scale(1.03);
        }
    }
    .manar-sub-top-nav {
        .logoBrendManar {
            margin-left: 39%;
        }
        .manar-shrink-nav-indesk .manar-lang-bar {
            margin-bottom: 0;
            li {
                margin: 0 10px;
            }
        }
    }
}

@media screen and (max-width: 750px) {
    .wraper .hidden-sm-down {
        display: none;
    }
}

@media screen and (min-width: 751px) {
    .wraper .see-on-mobile {
        display: none;
    }
}

@media screen and (max-width: 750px) {
    .hidden-sm-down {
        display: none;
    }
}

@media screen and (min-width: 751px) {
    .see-on-mobile {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .hidden-sm-down {
        display: none;
    }
    .see-on-mobile {
        display: block;
    }
}

@media screen and (min-width: 993px) {}

@media (max-width: 575px) {
    .justify-content-xs-center {
        -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
        justify-content: center !important;
    }
    .manar-top-form {
        width: 92%;
        margin: 0 auto;
        padding: 5px 8px;
        input {
            width: 74%;
            margin-right: 9px;
        }
    }
}

@media (min-width: 576px) and (max-width: 1000px) {
    .manar-top-form input {
        width: 38% !important;
    }
}

@media (min-width: 776px) {
    .manar-shrink-nav-indesk {
        width: 70%;
    }
    .manar-sub-top-nav nav div ul li {
        margin-right: 9px;
        a {
            text-transform: uppercase;
            color: #565555 !important;
            font-weight: bolder;
            transition: color 0.6s ease-in-out;
            &:hover {
                color: grey !important;
            }
        }
    }
}

.carousel-caption {
    .manar-slider-info {
        >div {
            position: relative;
        }
        background-color: #4155ac;
        width: 97%;
        position: absolute;
        bottom: 395%;
        height: 159px;
        margin-left: 5%;
        &:before {
            content: '';
            background-color: #01a6a0;
            display: block;
            width: 20px;
            height: 20px;
            position: absolute;
            top: -10px;
            left: -10px;
            border-radius: 50px;
            border: 5px solid #fff;
        }
    }
    .manar-slide-text {
        padding: 30px;
        font-size: 13px;
        text-align: justify;
    }
}

.manar-contafter-slider {
    padding: 30px;
    text-align: center;
    h3 {
        color: #0a1e75;
        font-size: 37px;
    }
}

.manar-icon-info {
    margin-top: 30px;
    >div> {
        h5 {
            margin-top: 24px;
        }
    }
}

.image-wrap-maar {
    img {
        max-width: 98%;
    }
}

.text-bg {
    background-color: #f3f3f3;
    padding: 50px 0 100px;
    .k {
        font-size: 40px;
        color: #0a1e75;
        font-family: "Helvetica-Light";
        margin-bottom: 50px;
        i {
            font-size: 25px;
            width: 27px;
            height: 27px;
            border: 1px solid #0f2277;
            border-radius: 50%;
        }
    }
}

.manar-image-overal {
    height: 50%;
    margin-bottom: 2px;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}

.image-wrap-maar {
    .mn-right {
        height: 100%;
    }
    .mn-left {
        div {
            height: 145px;
            margin-bottom: 8px;
        }
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}

.row.image-wrap-maar {
    padding: 0 !important;
    >div {
        padding: 0 !important;
    }
}

.manar-overal {
    &::before {
        font-family: "FontAwesome";
        content: "\f002";
        position: absolute;
        top: 44%;
        font-size: 30px;
        left: 48%;
        color: white;
    }
    position: absolute;
    background-image: url(../images/Overlay.png);
    width: 98%;
    z-index: 5555;
    height: inherit;
    top: 0;
    left: 6px;
    visibility: hidden;
    transition: all 0.5 ease-in;
    -webkit-transition: all 0.5 ease-in;
    -o-transition: all 0.5 ease-in;
    -moz-transition: all 0.5 ease-in;
}

.is-manar-overal {
    &:hover>.manar-overal {
        visibility: visible;
    }
    position: relative;
}

.manar-footer-content {
    border-top: 1px solid #eaeaea;
    width: 100%;
}

.manar-footer-selector {
    .sdf {
        border-right: 1px solid #eaeaea;
    }
    >div {
        padding: 48px 0;
        padding-left: 30px;
        > {
            div> {
                p {
                    padding: 0;
                    line-height: 10px;
                    color: #6f6f6f;
                    >a {
                        color: #01a6a0;
                        font-weight: normal;
                        font-size: 13px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 751px) {
    .manar-footer-selector>div> {
        h6 {
            text-align: center;
        }
        div {
            > {
                h6 {
                    font-weight: bold;
                    font-size: 22px;
                }
                p {
                    >a {
                        font-size: 20px !important;
                        line-height: 23px;
                    }
                    font-size: 20px !important;
                    line-height: 23px;
                }
            }
            &:last-child {
                padding-bottom: 31px;
            }
            > {
                p,
                h6 {
                    text-align: center;
                }
            }
            text-align: center;
        }
    }
    .manar-sub-footer {
        position: relative !important;
        bottom: -9px !important;
        font-size: 15px !important;
        color: black !important;
    }
    .manar-mobile-input {
        width: 81%;
        margin: 0 auto;
        input {
            width: 78% !important;
            height: 40px;
        }
    }
}

.manar-input.form-control {
    padding: 1px 0px 2px 6px !important;
    width: 70%;
    font-size: 15px;
}

.manar-contact-footer {
    padding-top: 9px;
}

.manar-bottom-navbar {
    position: relative;
}

.manar-logo-bottom {
    a {
        transition: all 0.6s ease-in;
        &:hover>img {
            transform: scale(1.03);
        }
    }
    position: absolute;
    z-index: 44;
    left: 9%;
    bottom: 1px;
}

.manar-bottom-navbar {
    border-bottom: 4px solid #01a6a0;
}

.manar-sub-footer {
    position: absolute;
    bottom: 62px;
    font-size: small;
    color: grey;
}