@import "https://fonts.googleapis.com/css?family=Roboto";
body {
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

.manar-top-bar {
    border-top: 4px solid #01a6a0;
    .manar-link {
        >li {
            margin-right: 7px;
            &::last-child {
                &::after {
                    contain: "&nbsp;";
                }
            }
            &:not(:last-child) {
                &::after {
                    content: '|';
                    font-size: 14px;
                    color: #0a1e75;
                }
            }
            >a {
                color: #0a1e75;
                padding: 0 11px;
                >i {
                    font-size: 80%;
                }
                >span {
                    margin-left: 5px;
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: 85%;
                }
            }
        }
    }
    .manar-top-logo-inner {
        position: relative;
        z-index: 999;
        margin-right: 40px;
        img {
            box-shadow: 0px 0px 20px 1px rgba(48, 48, 46, 0.2);
            margin-top: -10px;
        }
    }
    .mana-searchbox {
        margin-top: 5px;
        float: right;
        input {
            width: 207px;
            height: 30px;
            display: inline-block;
            box-shadow: none;
            border: 1px solid#bebebd;
            color: #333;
            &::-webkit-input-placeholder {
                color: #333;
            }
        }
        button {
            background: none;
            border: none;
            outline: none;
            font-size: 18px;
            color: #21398b;
        }
    }
}

.navbar {
    background-color: #eaeaea;
    height: 50px;
}

@media screen and ( max-width: 750px) {
    .hidden-sm-down {
        display: none;
    }
}

@media screen and ( min-width: 751px) {
    .see-on-mobile {
        display: none;
    }
}